@import '../../style/variables.scss';

.register {
  padding: 50px;
  margin-left: 1rem;
  box-shadow: 0px 0px 20px #00000040;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 2rem;

  &__paragraph{
      font-weight: bold;
      font-size: 22px;
      line-height: 29px;
      text-transform: uppercase;
      text-align: center;
  }
   &__link{
      font-weight: bold;
      font-size: 22px;
      line-height: 29px;
      text-transform: uppercase;
      text-align: center;
      color: $main-color;
      cursor: pointer;
      &:hover {
      color: $grey;
    }
  }
}

.form {
  &__textarea-wrepper {
    display: flex;
    flex-direction: column;
  }
  &__icon {
    position: absolute;
    bottom: 11px;
    right: 17px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__ingridient-wrapper {
    position: relative;
  }

  fieldset {
    display: grid;
    gap: 25px;
    padding-top: 1rem;
    outline: none;
    border: none;
    margin-bottom: 2rem;
  }

  input {
    height: 45px;
    width: 320px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4d4c49;
    text-align: left;
  }

  &__button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    margin-bottom: 2rem;
  }
}
