@import '../../style/variables.scss';

.edit {
  padding: 25px;
  margin-left: 1rem;
  box-shadow: 0px 0px 20px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 2rem;
}

.form {
  display: grid;
  gap: 25px;
  padding-top: 1rem;

  &__textarea-wrepper {
    display: flex;
    flex-direction: column;
  }
  &__icon {
    position: absolute;
    bottom: 11px;
    right: 17px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.4s all;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__ingridient-wrapper {
    position: relative;
  }
  .input {
    height: 45px;
    width: 320px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4d4c49;
    text-align: left;
  }

  .textarea {
    border: 1px solid #dcdcdc;
    outline: none;
    font-size: 16px;
    color: #4d4c49;
    border-radius: 5px;
  }

  .error {
    border: 1px solid $main-color;
  }
  
  &__button_wrapper {
    display: flex;
    justify-content: space-around;
    width: 320px;
  }
}
